@tailwind base;
@tailwind components;
@tailwind utilities;

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-thumb {
  background-color: #d7d7d7;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

.preview .swiper-pagination-bullet-active {
  background: #EAB308;
  margin: 5px 0;
}

.preview .swiper-slide-active {
  transform: none;
  border-radius: 10px;
  animation: zoomOut 0.4s backwards;
}

.swiper .swiper-pagination-bullet-active {
  background: #EAB308;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.slide-up {
  animation: slideUp 0.5s ease-in-out forwards;
}

.slide-down {
  animation: slideDown 0.5s ease-in-out forwards;
}

@layer components {
  .align-element {
    @apply mx-auto max-w-7xl px-7;
  }

  .page-title {
    @apply capitalize text-3xl font-medium;
  }

  .page-grid {
    @apply grid md:grid-cols-3 md:gap-4;
  }

  .button-style {
    @apply py-2 px-4 rounded-md font-bold cursor-pointer;
  }
}